<mat-card>
  <mat-card-header>
    <mat-card-title>ngChat</mat-card-title>
    <mat-card-subtitle>Full stack chat app</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="#" alt="ngChat screenshot" />
  <mat-card-content>
    <p>description ...</p>
  </mat-card-content>
  <mat-card-actions>
    <a mat-flat-button color="accent" href="#" target="_blank">
      <img
        src="assets/github/GitHub-Mark-Light-32px.png"
        alt="github logo"
        class="github-button"
      />
      <span>Github</span>
    </a>
    <a mat-flat-button color="accent" href="#" target="_blank">
      <mat-icon>link</mat-icon>
      <span>Link</span>
    </a>
  </mat-card-actions>
</mat-card>
