<mat-toolbar color="primary">
  <div *ngIf="isSmallScreen">
    <button mat-icon-button (click)="onToggleSidenav()">
      <mat-icon>menu</mat-icon>
    </button>
  </div>
  <div id="large-nav" role="navigation" *ngIf="!isSmallScreen">
    <a
      routerLink="/"
      routerLinkActive="active-link"
      [routerLinkActiveOptions]="{ exact: true }"
      >Home</a
    >
    <a
      routerLink="/examples"
      routerLinkActive="active-link"
      [routerLinkActiveOptions]="{ exact: true }"
      >Examples</a
    >
    <a
      routerLink="/resume"
      routerLinkActive="active-link"
      [routerLinkActiveOptions]="{ exact: true }"
      >Resume</a
    >
  </div>
</mat-toolbar>
