<section class="home-content">
  <div class="intro">
    <h2>Hello,</h2>
    <p>I'm Matthew Polsom.</p>
  </div>

  <p>
    I am a recent graduate from the University of Regina with a bachelor of
    science in computer science. I started my study of computer science and web
    development during my studies to become an engineer, but quickly changed my
    major after I found out how much fun this line of work is.
  </p>

  <p>
    I have since been passionately learning and working with the plethora of
    technologies and techniques that can be found in this field.
  </p>

  <p>
    Please use the links above to see my <a href="/resume">resume</a> or
    <a href="examples">examples</a> of my work.
  </p>
</section>
