section {
  max-width: 80ch;
  margin: auto;
}

.intro {
  width: 100%;
  margin: 8rem 0 4rem 0;

  h2 {
    font-size: 300%;
  }

  p {
    font-size: 200%;
  }
}

a {
  text-decoration: underline;
}
